html body{
	background-color: #fdb515;
}


.button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}

.jumbotron {
	display: flex;
  	flex-direction: column;
}

.hidden{
	display:none;
}