html body{
	background-color: #fdb515;
}


.button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}

.jumbotron {
	display: flex;
  	flex-direction: column;
}

.hidden{
	display:none;
}

.blocks .btn-primary 
{
    padding: 24px 12px;
    margin: 0 5px;  
    border-radius: 0;
}